@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-logo-container {
    padding: 12px 80px;
    background: #023047;
    display: flex;
}

.nav-logo-container .logo {
    padding: 0px 9px;
    width: 148px;
}

.right-side {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.input-icons img {
    position: absolute;
    width: 4vw;
    height: 41.72px;
}
    
.input-icons {
    width: 18vw;
    height: 48px;
    padding: 3.14px 0px;
}
    
.icon {
    padding: 8px 1.2vw;
    min-width: 4vw;
}

.input-field {
    width: 18vw;
    padding-left: 4vw;
    text-align: left;
    height: 39px;
    border-radius: 8px;
    border: none;
}

nav {
    color: #fff;
}

.nav-profile {
    margin-left: 0.7vw;
}

div.input-group {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 16vw;
}

.nav-profile ul{
    text-align: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 190px;
    color: #fff;
}

div.nav-avatar {
    width: 32px;
    height: 32px;
    padding: 16px;
    border: 2px solid #fff;
    margin: 8px 0;
    margin-left: 15px !important;
    border-radius: 50% !important;
}

button.btn.dropdown-toggle {
    color: #fff;
}

button.btn.dropdown-toggle::after {
    outline: none;
}

button.btn.dropdown-toggle:hover {
    border: none;
}

button.btn.dropdown-toggle:not(:hover) {
    border: none;
}

button.btn.dropdown-toggle.show{
    border: none;
}

img.globe-icon {
    height: 40px;
    margin-left: 30px;
}

.nav-container {
    padding: 0px 68px;
    background: #1352AB;
    display: flex;
}

.nav-container a {
    color: #fff;
    padding:    20px 24px;
    text-decoration: none;
    font-size: 15px;
}

#footer {
    background: #023047;
    padding: 36px 84px;
    color: #fff;
    display: flex;
}

.footer-logo {
    width: 207px;
    height: auto;
    display: flex;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 84px;
    margin-bottom: 36px;
    height: 75px;
    font-size: 16px;

}

.footer-flex-container {
    display: flex;
    justify-content: center;
}

.footer-flex-container a{
    color: #fff;
    text-decoration: none;
}

.footer-flex-container > div {  
    margin: 0;
    padding: 14px 8px;
}